@charset "UTF-8";

@media screen and (max-width:1920px) {

    /* header ------------------------------------------------------- */
    .header .menu-toggle-btn{
        display: none;
    }


}


@media screen and (max-width:1168px) {

    /* header ------------------------------------------------------- */
    .head_up{
        display: none;
    }

}


@media screen and (max-width:400px) {

    /* header ------------------------------------------------------- */
    .header .logo{
        position: absolute;
        left: 0;
        top: 10px;
    }

    .header .nav{
        display: none;
    }

    .header .menu-toggle-btn{
        display: block;
    }







    /* slide_img --------------------------------------------------------*/
    
    .slide_img{
        height: 300px;
        border: none !important;
        z-index: 100;
        /* border: 1px solid black; */
    }
    
    .left_move li{
        background-size: contain;
        
    }








    /* main_item --------------------------------------------------------*/
    .main_item{
        margin: -40px auto !important;
        /* border: 1px solid black; */
    }

    .main_in{
        flex-direction: column;
        align-items: center;
    }

    .main_item1{
        width: 100% !important;

    }

    .main_item2{
        width: 100% !important;
        margin-top: 30px;
    }

    .main_item_text p{
        font-size: 4vw;
    }












    /* new_item --------------------------------------------------------*/

    .new_in{
        flex-direction: column;
        align-items: center;
    }

    .new_in div a img{
        width: 100% !important;
        min-width: 100px;
    }

    .new_item2{
        margin-top: 30px;
    }   



    
    .fav_move .slick-slide{
        margin: 50px 20px !important;
    }






    /* map --------------------------------------------------------*/

    .map iframe{
        width: 80%;
    }















    /* event --------------------------------------------------------*/
    .event_contents{
        flex-direction: column;
        align-items: center;
    }

    .event_box1{
        width: 100% !important;
    }

    .event_btn a{
        font-size: 5vw !important;
    }

    .event_box2{
        width: 100% !important;
        margin-top: 20px;
    }

    .event_box3{
        width: 100% !important;
    }

    .event_box4{
        margin: 0 0 20px 0 !important;
        width: 100% !important;
    }

    

    .e_item a img{
        min-width: 100px;
    }





    /* footer --------------------------------------------------------*/
    .f_up{
        font-size: 2.5vw;
    }    

    .t_link{
        display: none !important;
    }

    .f_left{
        float: none !important;
        margin: 0 auto;
        width: 80% !important;
        font-size: 4vw;
    }

    .f_logo img{}

    .f_right{
        float: none !important;
        width: 85% !important;
        margin: 0 auto;
        justify-content: space-around !important;
    }
    
    .f_right span{
        display: none;
    }


    .f_down{
        display: inline !important;
        text-align: center;
    }

    .f_down p{
        font-size: 3.5vw;
        padding-bottom: 20px;
    }







    
    /* popup --------------------------------------------------------*/

    .popup{
        display: none;
    }
}
